name: Hassfest

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 0 * * *'

jobs:
  hassfest:
    runs-on: "ubuntu-latest"
    name: Hassfest
    steps:
        - name: "Checkout the repository"
          uses: "actions/checkout@v4"

        - name: "Run hassfest"
          uses: "home-assistant/actions/hassfest@master"