name: "Test"

on:
  push:
    branches:
      - "main"
      - "dev"
  pull_request:
    branches:
      - "main"

jobs:
  tests:
    name: "Run tests"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Checkout the repository"
        uses: "actions/checkout@v4"

      - name: "Set up Python"
        uses: "actions/setup-python@v4"
        with:
          python-version: "3.13"

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip
          pip install -r tests/requirements.txt

      - name: "Run tests"
        run: |
          python -m pytest tests/ -v

      - name: "Run mypy"
        run: |
          python -m mypy custom_components/dreame_mower/ --ignore-missing-imports